# Compiled Object files
*.slo
*.lo
*.o
*.ko
*.d
*.obj
*.class
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.so.*

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/Debug/

.project
.cproject
.vscode
.settings/

*.dSYM/

*.result
*.log
*.data
*.output
my_app
myapp

